{# empty Twig template #}

{% if aTransactions is not empty %}
{% if app.session.get('_locale') == 'fr' %}
    <h2 class="text-center">{{"Les transactions de type"|trans}} : {{sCateg|trans}} </h2>
{% else %}
    <h1 class="text-center">{{sCateg}} {{"Transactions"|trans}}</h1>
{% endif %}

<table class="table table-bordered">
    <tr>
        <th>{{"date"|trans|capitalize}}</th>
        <th>{{"amount"|trans|capitalize}} €</th>
        <th>{{"wording"|trans|capitalize}}</th>
    </tr>
    {% set total = 0 %}
    {% for aTrans in aTransactions %}
    <tr>
        <td>{{ aTrans.getDate()|date('Y-m-d') }}</td>
        <td>{{ aTrans.getAmount() }} </td>
        <td>{{ aTrans.Wording() }}</td>
        {% set total = total + aTrans.getAmount()  %}
        
    </tr>
    {% endfor %}
    <tr>
        <td class="bold">{{"Total"|trans}}</td>
        <td class="bold" colspan="2">{{total}} €</td>
    </tr>
</table>
{% else %}
<h2 class="alert alert-info text-center" >{{"No transactions !"|trans}}</h2>
    
{% endif %}